 <div class = "container">
    <h1 class = "text-center"> {{title}} </h1>
    
    <div class = "row">
      <div class ="col-md-2">

      </div>
            <div class = "col-md-3">
                <button (click)='showimagechangedemo()' class="btn btn-danger">Image Change Demo</button>
            </div>
            <div class = "col-md-3">
              <button (click)='showproductlistdemo()' class="btn btn-warning">Product List Demo</button>
            </div>
            <div class = "col-md-3">
              <button (click)='showmasterdetails()' class="btn btn-danger">Master Details</button>
            </div> 
            
    </div>
  

<hr/>
<div class ="row">
  <div class ="col-md-12">

  
  
  <app-tshirtdatabinding *ngIf = "showImageChangeDemo"></app-tshirtdatabinding>
  <app-product *ngIf = "showProductListDemo"></app-product>
</div>
  <app-purchase *ngIf = "showMasterDetails"></app-purchase>
  


  

  </div>
</div>

    
    

