<br>
<br>
<div class="text-center">
    <h2 class = "text-center text-danger" style = "background-color: rgba(72, 112, 165, 0.199);"><b>Select an option for Product</b></h2>
<div class="container">
    
    <ul class="nav nav-pills">
        <div class="col-md-3">
        <li class="nav-item">
            
            <a class="nav-link  nav-space text-white" style="background-color: #c04161;" routerLink='/product/addproduct'>Enter a Product</a>
        
        </li>
    </div>
    <div class="col-md-3">
        <li class="nav-item ">
            
            <a class="nav-link  nav-space text-white" style="background-color:  #c04161;" routerLink='/product/listproduct'>List all Product</a>
        
        </li>
    </div>
    <div class="col-md-3">
        <li class="nav-item ">
            
            <a class="nav-link  nav-space text-white" style="background-color :#c04161;" routerLink='/product/deleteproduct'>Delete a Product</a>
        
        </li>
    </div>
    <div class="col-md-3">
        <li class="nav-item ">
            
            <a class="nav-link  nav-space text-white" style="background-color: #c04161;" routerLink='/product/searchproduct'>Search a Product</a>
        
        </li>
    </div>
    </ul>
</div>

<hr>
    <br>
 
    <router-outlet></router-outlet>
  </div>
