<hr/>
<div class = "row">
    <div class="col-md-12">
    <h1 class= "text-danger text-center"><b>Master Deatils using Component Communication</b></h1>
</div>

<hr/>


<div class="col-md-12">
<div class="row">
    <div class="col-md-12">
    <table class = "table">
        <thead class = "thead-dark"   align="center">
            <tr>
                <th>Item Id</th>
                <th>Dealer Purchased Item</th>
                <th>Select Item for Detail</th>
            </tr>
        </thead>
        <!-- <tbody align="center">
            <tr *ngFor = "let p of purchases">
                <td>{{p.PurchaseID}}</td>
                <td><button class = "btn btn-link">{{p.PurchaseName}}</button></td>
            </tr>
        </tbody> -->
    </table>
</div>
</div>
</div>
<div class = "col-md-12">
    <mat-accordion class = "example-headers-align">
        <mat-expansion-panel *ngFor = "let p of purchases">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{p.PurchaseID}}</h2>
            </mat-panel-title>
            <mat-panel-description>
                <h2 class = "text-info">{{p.PurchaseName}}</h2>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-purchaseorder [PurchaseItem] = 'p'></app-purchaseorder>
        </mat-expansion-panel>
    </mat-accordion>
</div>
</div>
<br>
<div class ="row">
  <div class ="col-md-12">
      <footer>
          <p style = "color : blue"><b>This is a demo of Component Communication among components that are in relation with each other. An interface having properties of Purchase List get exported. The various enteries of purchase is done with the help of service. Expansion Panel is used to display the product list detail in the respective dealer row who purchased items. When clicked on dealer name the panel get expaneded having detail of all the product purchased along with total price of all the product it the list within a button. @Input decorator is used to pass data from parent to child component and ngOnChanges is used to capture changes. </b></p>
      </footer>
  </div>
</div>