<hr/>
<div class = "container">
<div classs = "row">
<!-- <div class = "col-md-4">

<h3>Enter title to search:</h3>
<input type="text" [(ngModel)] = 'searchText' class="form-control" placeholder ="Search using Title"><br>
</div> -->
<div class = "col-md-8 " >
<h3>Enter Id to search:</h3>
<input type="text" [(ngModel)] = 'searchId' class="form-control" placeholder ="Search using Id"><br>
</div>
<div class = "col-md-8">
    <h3>Enter Name to search:</h3>
    <input type="text" [(ngModel)] = 'searchName' class="form-control" placeholder ="Search using Name"><br>
    </div>
    <div class = "col-md-8">
        <h3>Enter Short Code to search:</h3>
        <input type="text" [(ngModel)] = 'searchShortCode' class="form-control" placeholder ="Search using Short Code"><br>
        </div>
</div>
</div>
<h3 class= "text-danger text-center" style = "background-color: rgba(72, 112, 165, 0.199);"><b>Category List with Details</b></h3>
<div class = "row">
    <table class = "table"> 
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Short Code
                </th>
                <th>
                    Description
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let c of category | categoryid : searchId | categoryname : searchName | categoryshortcode : searchShortCode">
                <td>
                    {{c.CategoryId}}
                </td>
                <td>
                    {{c.CategoryName}}
                </td>
                <td>
                    {{c.CategoryShortCode}}
                </td>
                <td>
                    {{c.Description}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
