<!-- <h1>In Child 2</h1>
<div class = "row">
    
    <div class = "col-md-6">
<form>
    <label for="fname">Enter any data:</label><br>
    <input type="text" id="fname" name="fname"><br>
    
  </form>
  <br>
  <button >Set Data</button>
  <button>Get Data</button>
</div>
</div> -->
<br><br>
<h1 class= "text-danger " style = "background-color: rgba(72, 112, 165, 0.199);"><b>Component 2 - Product Information</b></h1>
<div class = "row">
    <table class = "table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    isInStock
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{product.Id}}</td>
                <td>{{product.Title}}</td>
                <td>{{product.Price | currency : 'INR'}}</td>
                <td>{{product.ExpiryDate | date}}</td>
                <td>{{product.isInStock}}</td>
                <td>{{product.Quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br><br><br><br>
<div class ="row">
    <div class ="col-md-12">
        <footer>
            <p style = "color :rgb(125, 125, 136)"><b>This is a demo of Component Communication among components that are not related to each other. Here declared two components one is having reactive form with input boxes to accept the product entry and a button to update the product entry and a reset button. Services is used to communicate among two components. When product details get entered in input parameter of a component 1 that will get updated in the entry displayed in component 2.  </b></p>
        </footer>
    </div>
</div>