<hr/>
<div class ="row">
    <div class ="col-md-4">

    </div>
    <div class ="col-md-4">
<h1 class= "text-danger text-center"><b>Changing color of text using Attribute Directive</b></h1>
<h3>Enter color:</h3>
<input type="text" [(ngModel)] ='c'/>
<br>
<br>
<div appChangecolor [color] ='c'>Hello welcome to Attribute Directive</div>
</div>
<div class ="col-md-4">

</div>
</div>
<br>
<br>
<div class ="row">
    <div class ="col-md-12">
        <footer>
            <p style = "color : blue"><b>This is a demo of Attribute Directive in Angular. The main aim is to set color of text along with border when mouse is hovered over it. It is achieved with the help of service. Host is div, Host binding is used for border and Host Listener is used for click, mouse enter and mouse leave events. Color of text is set by default to green and user can change it using input parameter in the display.  </b></p>
        </footer>
    </div>
</div>