<br>
<br>
<div class="text-center">
    <h2 class = "text-center text-danger" style = "background-color: rgba(72, 112, 165, 0.199);"><b>Select an option For Category</b></h2>
<div class="container">
    
    <ul class="nav nav-pills">
        <div class="col-md-3">
        <li class="nav-item">
            
            <a class="nav-link  nav-space text-white" style="background-color: #c04161;" routerLink='/category/addcategory'>Enter a Category</a>
        
        </li>
    </div>
    <div class="col-md-3">
        <li class="nav-item ">
            
            <a class="nav-link  nav-space text-white" style="background-color:  #c04161;" routerLink='/category/listcategory'>List all Category</a>
        
        </li>
    </div>
    <div class="col-md-3">
        <li class="nav-item ">
            
            <a class="nav-link  nav-space text-white" style="background-color :#c04161;" routerLink='/category/deletecategory'>Delete a Category</a>
        
        </li>
    </div>
    <div class="col-md-3">
        <li class="nav-item ">
            
            <a class="nav-link  nav-space text-white" style="background-color: #c04161;" routerLink='/category/searchcategory'>Search a Category</a>
        
        </li>
    </div>
    </ul>
</div>

<hr>
    <br>
 
    <router-outlet></router-outlet>
  </div>
