<h2 style="text-align: center; ">SPORTS</h2>
<br>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Color</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>
                {{p.Id}}
            </td>
            <td>
                {{p.Title}}
            </td>
            <td>
                {{p.Color}}
            </td>
            <td>
                {{p.Price | currency}}
            </td>
            <td>
                {{p.ExpiryDate | date}}
            </td>
             <button class="btn btn-warning">Click</button>
             <button class="btn btn-danger">Delete</button>
        </tr>
    </tbody>
    </table>
</div>