<h3 class= "text-danger text-center" style = "background-color: rgba(72, 112, 165, 0.199);"><b>Category List with Details</b></h3>
<div class = "row">
    <table class = "table"> 
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Short Code
                </th>
                <th>
                    Description
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let c of category">
                <td>
                    {{c.CategoryId}}
                </td>
                <td>
                    {{c.CategoryName}}
                </td>
                <td>
                    {{c.CategoryShortCode}}
                </td>
                <td>
                    {{c.Description}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
