<hr/>


<div class="container">
    <div class ="row">
        <div class = "col-md-4">

        </div>
        <div class = "col-md-5 text-left bg-white rounded shadow py-3">
      <h2 class= "text-danger" style = "background-color: rgba(72, 112, 165, 0.199);"><b>Enter the Category details </b></h2>
      <form>
        <input placeholder = 'Enter Name' type = "text" class = "form-control" [(ngModel)] = "name"/>
        
        <br/>
        <input placeholder = 'Enter Short Code' type = "text" class = "form-control" [(ngModel)] = "shortcode" />
        
        <br/>
        <input placeholder = 'Enter Description' type = "text" class = "form-control" [(ngModel)] = "description" />
        
        <br/>
        
        <button class="btn btn-info" (click)='submit()'>Submit</button>

  
    </form>
      </div>
      <br/>
      <h4>{{message}}</h4>  
  </div>
</div>
