<hr/>
<h1 class="text-center text-danger"><b>
    Click button to get Error Handler performance</b></h1>
<button (click) ='getError()' 
class="btn btn-info">Check ErrorHandler</button>
<br>
<br>
<div class ="col-md-12">
    <h2>Providers array in app.module.ts</h2>
    <img [src] = 'imgSource3' [style.height.px] = 50 
    [style.width.px] = 1500 class="img img-fluid"/>
</div>
<br>
<div class="row">
    <div class ="col-md-6">
        
        <img [src] = 'imgSource1' [style.height.px] = 500 
        [style.width.px] = 1000 class="img img-fluid"/>
    </div>
    <div class ="col-md-6">
        <img [src] = 'imgSource2' [style.height.px] = 500 
        [style.width.px] = 1000 class="img img-fluid"/>
    </div>
    <br>
</div>
<br>
<div class="col-md-4"></div>
<br>
<br>
<div class ="row">
    <div class ="col-md-12">
        <footer>
            <p style = "color : blue"><b>This is a demo of Global Error Handler in Angular. A service is generated that implements Error handler class. A error variable is declared having value as undefined. Sort method is used on it that will generate error but it get handled in service and display error message in console. UseClass is used in provider array to generate object of generated error service. </b></p>
        </footer>
    </div>
</div>