<hr/>
<h1 class ="text-center text-danger" style = "background-color: rgba(72, 112, 165, 0.199);"><b>MY ANGULAR LEARNING DEMOS</b></h1>

<br>

<hr/>
<div class ="row">
    <div class="col-md-4">
        <img src ="./assets/angular.jpg" height="300"width="350">
    </div>
    <div class ="col-md-6">
        <br><br><br><br><br>
        <h3><b>Name :</b> Somya Das</h3>
        <h3><b>Designation :</b> Associate Software Engineer Trainee</h3>
    
    </div>
    
</div>
<hr/>
<div class = "row">
<div class ="col-md-3"></div>
<div class = "col-md-6 text-left bg-white rounded shadow py-3">
<h2 class = "text-center text-danger"><b>Contents covered in Demo (Click to land on respective page)</b></h2>
<h4><b><a routerLink = "/home">1. SOMYA DAS : HOME PAGE</a></b></h4>
<h4><b><a routerLink = "/login">2. LOGIN : REACTIVE FORM AND TEMPLATE DRIVEN FORM</a></b></h4>
<h4><b><a routerLink = "/databinding">3. DATA BINDING : TWO WAY DATA BINDING </a></b></h4>
<h4><b><a routerLink = "/product">4. PRODUCT : PRODUCT TABLE HAVING SEARCH BAR USING PIPES</a></b></h4>
<h4><b><a routerLink = "/purchase">5. MASTER DETAILS : PURCHASE TABLE USING EXPANSION PANEL</a></b></h4>
<h4><b><a routerLink = "/unrelatedcomponent">6. UNRELATED COMPONENTS : SERVICES, REACTIVE FORM WITH VALIDATION</a></b></h4>
<h4><b><a routerLink = "/colorattribute">7. ATTRIBUTE DIRECTIVE : HOST, HOST BINDING, HOST LISTENER</a></b></h4>
<h4><b><a routerLink = "/globalerror">8. GLOBAL ERROR : ERROR HANDLER SERVICE</a></b></h4>
<h4><b><a routerLink = "/rxjssubject">9. RxJS SUBJECT : SUBJECT, BEHAVIOR SUBJECT, REPLAY SUBJECT, ASYNC SUBJECT </a></b></h4>
</div>
<div class ="col-md-2"></div>
</div>




