<hr/>
<h1 class ="text-center text-danger" style = "background-color: rgba(72, 112, 165, 0.199);"><b>MY ANGULAR LEARNING DEMOS</b></h1>

<br>

<hr/>
<div class ="row">
    <div class="col-md-4">
        <img src ="./assets/angular.jpg" height="300"width="350">
    </div>
    <div class ="col-md-6">
        <br><br><br><br><br>
        <h3><b>Name :</b> Somya Das</h3>
        <h3><b>Designation :</b> Associate Software Engineer Trainee</h3>
    
    </div>
    
</div>
<hr/>
<h2 class = "text-center"><b>Contents covered in Demo (Click to land on respective page)</b></h2>
<h4><b><a href="http://localhost:4200/home">1. Somya Das</a></b></h4>
<h4><b><a href="http://localhost:4200/login">2. Login</a></b></h4>
<h4><b><a href="http://localhost:4200/databinding">3. Data Binding</a></b></h4>
<h4><b><a href="http://localhost:4200/product">4. Product</a></b></h4>
<h4><b><a href="http://localhost:4200/purchase">5. Master Details</a></b></h4>
<h4><b><a href="http://localhost:4200/unrelatedcomponent">6. Unrelated Components</a></b></h4>
<h4><b><a href="http://localhost:4200/colorattribute">7. Attribute Directive</a></b></h4>
<h4><b><a href="http://localhost:4200/globalerror">8. Global Error</a></b></h4>




