<div class = "row">
    <div class="col-md-12">
    <h2 class= "text-danger text-center">Master Deatils using Component Communication</h2>
</div>

<hr/>


<div class="col-md-12">
<div class="row">
    <div class="col-md-12">
    <table class = "table">
        <thead class = "thead-dark"   align="center">
            <tr>
                <th>Item Id</th>
                <th>Purchased Item</th>
                <th>Select Item for Detail</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr *ngIf = "let p of purchases">
                <td>{{p.PurchaseID}}</td>
                <td><button class = "btn btn-link">{{p.PurchaseName}}</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
<div class = "col-md-12">
    <mat-accordion class = "example-headers-align">
        <mat-expansion-panel *ngFor = "let p of purchases">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{p.PurchaseID}}</h2>
            </mat-panel-title>
            <mat-panel-description>
                <h2 class = "text-info">{{p.PurchaseName}}</h2>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-purchaseorder [PurchaseItem] = 'p'></app-purchaseorder>
        </mat-expansion-panel>
    </mat-accordion>
</div>
</div>
